* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

.body_class {
  background-color: #f0f2f5;
}
span {
  font-size: 25px;
  color: brown;
}
.example-h1 {
  font-size: 40px;
  margin: 10px 0 10px 0;
  color: rgb(241, 28, 45);
  padding-bottom: 10px;
}

.example-block {
  box-shadow: 3px 3px 15px 5px rgb(115, 8, 238);
  font-size: 50px;
  margin: 0 15px 10px;
}

.example-string {
  font-size: 50px;
}

.example-dog {
}

.example-big {
  border: 3px dotted #000;
}
