* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

.body_class {
  background-color: #f0f2f5;
}
span {
  font-size: 25px;
  color: brown;
}
.example-h1 {
  font-size: 35px;
  color: rgb(23, 206, 106);
  padding-bottom: 10px;
}

.example-block {
  display: auto;
  padding: 10px;
  border: 1px solid #000;
}

.example-string {
  display: block;
  padding: 5px 5px;
  border: 1px solid #000;
}

.example-dog {
  width: 50%;
  height: 50%;
  max-width: 400px;
  min-width: 100px;
  max-height: 400px;
  min-height: 100px;
}

.example-big {
  width: 50%;
  height: 50%;
  max-width: 400px;
  min-width: 100px;
  max-height: 400px;
  min-height: 100px;
}
